SD-33-projeto1/object/data.o
SD-33-projeto1/object/list-utils-private.o
SD-33-projeto1/object/list.o
SD-33-projeto1/object/serialization.o
SD-33-projeto1/object/test_data.o
SD-33-projeto1/object/test_list.o
SD-33-projeto1/object/test_serialization.o
